# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
# ------------------------------------------------------------------------------

# Nango simplifies handling Twitter API OAuth (https://nango.dev)
NANGO_CONNECTION_ID=
NANGO_SECRET_KEY=
NANGO_CALLBACK_URL='https://api.nango.dev/oauth/callback'

# Twitter API v2 OAuth 2.0 credentials
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

# Answer engine settings
# If you're using openai (the default), you must define OPENAI_API_KEY
#ANSWER_ENGINE='openai' | 'dexa'
#OPENAI_API_KEY=

# Optional database settings
# If REDIS_URL isn't defined and REQUIRE_REDIS=true, the app will abort.
# If REDIS_URL isn't defined and REQUIRE_REDIS!=true, the app will use an 
# in-memory store.
#REQUIRE_REDIS=
#REDIS_URL=
#REDIS_NAMESPACE_TWEETS=
#REDIS_NAMESPACE_USERS=
#REDIS_NAMESPACE_MESSAGES=
#REDIS_NAMESPACE_STATE=
#REDIS_NAMESPACE_MENTIONS_PREFIX=

# Optional behavior settings generally specified locally during debugging.
# Think of these as quick & dirty CLI switches.
#DEBUG=true
#DRY_RUN=true
#NO_CACHE=true
#EARLY_EXIT=true
#FORCE_REPLY=true
#RESOLVE_ALL_MENTIONS=true
#DEBUG_TWEET='tweetId1,tweetId2,...' # Comma-separated list of tweet IDs to process
#SINCE_MENTION_ID='tweetId' # Overrides the default tweet sinceMentionId
