# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
# ------------------------------------------------------------------------------

# Nango simplifies handling Twitter API OAuth (https://nango.dev)
NANGO_CONNECTION_ID=
NANGO_SECRET_KEY=
NANGO_CALLBACK_URL='https://api.nango.dev/oauth/callback'

# Twitter has different API rate limits and quotas per plan, so in order to 
# rate-limit effectively, we need to know which plan your account is using.
# NOTE: **The Twitter API free plan is not supported.**
# Must be one of: 'basic' | 'pro' | 'enterprise'
TWITTER_API_PLAN=

# OpenAI is required for 2 purposes:
# 1. For their moderations endpoint, which is used to filter out inappropriate
#    tweets
# 2. If ANSWER_ENGINE='openai', then the OPENAI_API_KEY is required to use the
#    chat completions API
OPENAI_API_KEY=

# Answer engine settings
#ANSWER_ENGINE='openai' | 'dexa' | 'perplexity'
# If you're using dexa (api currently in private beta), then DEXA_API_KEY is required
#DEXA_API_KEY=
# If you're using perplexity, then PERPLEXITY_API_KEY is required
#PERPLEXITY_API_KEY=

# Optional database settings
# If REDIS_URL isn't defined and REQUIRE_REDIS=true, the app will abort.
# If REDIS_URL isn't defined and REQUIRE_REDIS!=true, the app will use an 
# in-memory store.
#REQUIRE_REDIS=
#REDIS_URL=
#REDIS_NAMESPACE_TWEETS=
#REDIS_NAMESPACE_USERS=
#REDIS_NAMESPACE_MESSAGES=
#REDIS_NAMESPACE_STATE=
#REDIS_NAMESPACE_MENTIONS_PREFIX=
